// **************  Start  **************
// you can comment out the following code snippet.

.home
	.hero
		img
			max-height 220px !important
		h1
			font-size 2.6rem !important
		.action-button
			padding 0.4rem 1.4rem !important	
	.footer
		padding 1rem !important

.sidebar 
	> .sidebar-links 
		> li 
			> a
				&.sidebar-link
					font-size 1em !important
					line-height: 1.4 !important
					font-weight normal !important
					&.active
						font-weight bold !important
.sidebar 
	> .sidebar-links
		> li:not(:first-child)
			margin-top auto !important

// reset scrollbar
::-webkit-scrollbar{width:6px;height:1px}
::-webkit-scrollbar-thumb{background:transparent}
::-webkit-scrollbar-track{background:transparent}
			
// ***************  End  ***************

/* **********************************************

	Add Extra Styles
	https://vuepress.vuejs.org/config/#index-styl

********************************************** */

// You can add extra styles from the following (using stylus or css)

.navbar{
	z-index 9999
}
table{
	width 100%!important;
	display: table;
}
th, td{
	border none!important
	color: #596c8e;
}
tr{
	border:none!important
}
thead {
    background: #e8f0f9;
    text-align: left;
}
body *{
	color #45526b
}
h1,h2,h3,h4,h5,h6{
	color #45526b
}
.theme-antdocs-content{
	padding-top 100px!important
}